.aboutPageContainer{
    background-color: rgb(167, 168, 168);
    height: 200px;
    border-radius: 20px;
    width: 100%;
    position: relative;
    display:inline-block;
}
.aboutContainer{
    margin-top: 30px!important;
    margin: 8px auto!important;
    height: 92%;
    background-color: rgb(179, 180, 180);
    border-radius: 20px;
}
.socialMediaContainer a{
    display:inline-block;
    color: black!important;
    padding: 15px;
}
.socialMediaContainer a:hover{
    color: rgb(51, 51, 51)!important;
}
@media only screen and (max-width: 600px) {
    .aboutPageContainer{
        height: 450px;
        border-radius: 10px;
    }
    .aboutContainer{
        margin: 5px auto!important;
        height: 98%;
        border-radius: 10px;
    }
}